{% block form_widget_simple %}
    {% set type = type|default('text') -%}
    {% if errors|length > 0 %}
        <div class="form-group has-error">
        <label class="control-label" for="inputError1">{{ errors }}</label>
    {% endif %}
        <input placeholder="{{ label|trans({}, translation_domain) }}" {% if type != 'hidden' %}class="form-control"{% endif %} type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% if errors|length > 0 %}
        </div>
    {% endif %}
{% endblock form_widget_simple %}

{% block form_widget_compound -%}
    <div class="stacked">
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
    </div>
    {{- form_rest(form) -}}
{%- endblock form_widget_compound %}

{% block form_row -%}
    {# {{- form_errors(form) -}}#}
    {{- form_widget(form) -}}
{%- endblock form_row %}
